/*XS*/
@media screen and (min-width: 1px) and (max-width: 575px) { 
	
	

/*SM*/
@media screen and (min-width: 576px) and (max-width: 767px) {
	
	

}

/*MD*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	/*Quitar los títulos de la tabla en mobile*/
	.ui.table:not(.unstackable) thead{
		display: none;
	}

	.titleMobile{
		display: none;
	}
}

/*LG*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.titleMobile, [class*="mobile only"],
  	[class*="tablet hidden"]:not(.mobile),
  	[class*="computer hidden"]:not(.mobile),
  	[class*="large monitor hidden"]:not(.mobile),
  	[class*="widescreen monitor hidden"]:not(.mobile),
  	[class*="or lower hidden"] {
    display: none !important;
  }
}
