  #contenedorMapa{
    width: 485px; 
    height:450px;
  }

  .botones{
    text-align: center;
  }
  
  .separador > td, .botones{
    border-left: solid black 1px;
    border-right: solid black 1px;
  }
  

  .separador{
    border-top: solid black 2px;
    border-bottom: solid #dee2e6 1px;
    background: #dee2e6;
  }

  .separador > td{
    height: 30px;
  }

  .separadorAbajo{
    height: 50px;
    border: 0;
  }

  .separadorAbajo > td{
    border: 0;
  }

  .separadorAbajo > td:hover{
    background: white;
  }

  .izquierda{
    border-left: solid black 1px;
  } 

  .derecha{
    border-right: solid black 1px;
  }

  .botones{
    border-bottom: solid black 2px;
  }

/*XS*/
@media screen and (min-width: 1px) and (max-width: 575px) {
  .cuerpo{
    display: none;
  }

  #contenedorMapa{
    width: 300px; 
  }

} 

/*SM*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  .cuerpo{
    display: none;
  }
}

/*MD*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  
  .cuerpo{
    display: none;
  }
}

/*LG*/
@media screen and (min-width: 992px) and (max-width: 1199px) {

}
